__pycache__/
*.pyc
*.pyo
Simulations/Particle_Tracking/data
Simulations/Particle_Tracking/temp models
Simulations/Particle_Tracking/runs
Simulations/Particle_Tracking/temp_log.log
Simulations/Particle_Tracking/results


